/.idea
/itamar_experiments/static/images
/itamar_experiments/search_engine_key.csv
/itamar_experiments/static/uploads

# everything with __pycache__ in it
**/__pycache__/*

# .tar files, they might be heavy
*.tar
*.env

*/static
*.log

# visual studio code stuff
*.xml
*.iml
face_merge_quiz/.vscode/settings.json
/itamar_experiments/

# word
*.docx
face_merge_quiz/app/static/.DS_Store
