<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Cancelled</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <script>
        // Redirect to the home page after 5 seconds
        setTimeout(function() {
            window.location.href = '/';
        }, 2000);
    </script>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Game Cancelled</h1>
            <p class="lead">The game has been canceled. You will be redirected to the home page in 2 seconds.</p>
            <!-- Loading Spinner -->
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Redirecting...</span>
            </div>
        </div>
    </div>

</body>
</html>
