<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Image</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="join_game" href="/join-game">Join a Game</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                <span class="navbar-text ml-auto">
                    Welcome, {{ user.username }}!
                </span>
                {% else %}
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Guess the Image</h1>
            <p class="lead text-center">Here’s a merged image. Can you guess which name the other player chose?</p>

            <!-- Display the merged image -->
            <div class="text-center">
                <img src="{{ image_url }}" alt="Merged Image" class="img-fluid mb-4" width="400">
            </div>

            <!-- Display the options for guessing -->
            <form id="guessForm" method="POST" action="/submit_guess">
                <div class="form-group text-center">
                    {% for option in options %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="guess" id="option{{ loop.index }}" value="{{ option }}" required>
                        <label class="form-check-label" for="option{{ loop.index }}">
                            {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <!-- Submit the guess -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit Guess</button>
                </div>
            </form>

            <!-- Status or feedback message (optional) -->
            <div id="statusMessage" class="mt-3 text-center"></div>
        </div>
    </div>

    <!-- Bootstrap and jQuery scripts -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
</body>
</html>
