<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" id="join_game" href="/join-game">Join a Game</a>

                    <!-- Dropdown for Image Classification Service -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="imageClassificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Image Classification Service
                        </a>
                        <div class="dropdown-menu" aria-labelledby="imageClassificationDropdown">
                            <a class="dropdown-item" href="/api/upload_image">upload an image (sync)</a>
                            <a class="dropdown-item" href="/api/async_upload">upload an image (async)</a>
                            <a class="dropdown-item" href="/api/result">get async result</a>
                            <a class="dropdown-item" href="/api/status">status</a>
                        </div>
                    </div>


                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                    &nbsp;&nbsp;&nbsp;
                    <span class="navbar-text ml-auto"> | </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="navbar-text ml-auto" style="color:white;">
                        Welcome, {{ user.username }}!
                    </span>
                    {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </nav>